@model IEnumerable<Booking>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="card-body">
    <h1>Bookings</h1>


    <table class="table table-hover">
        <thead class="table-primary">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                
                <th>
                    @Html.DisplayNameFor(model => model.Room.Status)
                </th>
                @*<th>
                @Html.DisplayNameFor(model => model.Room.Category.Price)
                </th>*@
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Room.Status)
                    </td>
                    
                    <td>
                        <a asp-action="Create" asp-controller="Invoice" class="btn btn-primary">Invoice</a> |
                        <a asp-action="Update" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>